QFrame
{
  border: none;
}

QToolTip
{
    color: black;
     border: 1px solid black;
     background-color: #A4D206;
     padding: 1px;
     opacity: 200;
}

/*menu toolbar and bottom statusbar*/
QToolBar, QToolBar::handle
{
    border: none;
    padding: 3px;
    spacing: 3px; /* spacing between items in the tool bar */
    background: url(./icons/handle.png);
}

/* Color of the menues space and the rest of space outside the controls the windows */
QWidget
{
  background-color: #212121;/*rgb(80,80,80);*/
  color: white;/*rgb(220,220,220);*/

  /*font-size: 11px;*/
  /*outline: none;*/
  /*margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;*/
}

QWidget:item:hover
{
    /*background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #20b2aa, stop: 1 #03a89e);*/
    color: white;
}

/* Menues hover */
QWidget:item:selected
{
    /*background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #20b2aa, stop: 1 #03a89e);*/
    background-color: #333334;
    color: white;
}

/* status bar */
QStatusBar {
    background-color:#a4d206;
}

QStatusBar QLabel {
    background-color:#a4d206;
    color: black;
}

QStatusBar QLabel[state="paused"] {
    background-color:#ca5100;
    color: black;
}

DebugStatusLabel[state="initialized"] {
    color: black;
    background-color: #a4d206;
}

DebugStatusLabel[state="paused"] {
    color: black;
    background-color: #ff0000;
}

DebugStatusLabel[state="running"] {
    color: black;
    background-color: #4a8f47;
}

DebugStatusLabel[state="stopped"] {
    color: black;
    background-color: #ff0000;
}

/* tabs bar */
QTabWidget::tab-bar {
    
}

/* entries in the menu */
QMenu
{
  border: none;
  /*text-transform: upercase;*/
}

QMenuBar
{
  text-transform: lowercase;
}

/* Menu headers text */
QMenuBar::item
{
    background: transparent;
    padding: 5px 5px 5px 5px;
    margin: 3px 7px 3px 7px;
    color: white;
}

/* Menu headers hover */
QMenuBar::item:selected
{
    color: white;
    /*background: transparent;*/
    /*border: 1px solid #20b2aa;*/
    background-color: #4e4e57;
}

/* menu entry pressed */
QMenuBar::item:pressed
{
/*    background: #444;
    border: 1px solid #000;
    background-color: QLinearGradient(
        x1:0, y1:0,
        x2:0, y2:1,
        stop:1 #212121,
        stop:0.4 #343434/*,
        stop:0.2 #343434,
        stop:0.1 #ffaa00*/
    /*);
    margin-bottom:-1px;
    padding-bottom:1px;*/
}

/* border for menues */
QMenu
{
  background-color: #1b1b1c;
    /*border: 1px solid #000;*/
}

/* menues entries */
QMenu::item
{
  background-color: #1b1b1c;
    /*padding: 20px 20px 20px 20px;*/
}

/* menu entries hovered */
QMenu::item:selected
{
    color: white;
}

/* elements disabled */
QWidget:disabled
{
    color: #8f8f8f;
    background-color: #323232;
}

/* snowman left panel */
QAbstractItemView
{
    background-color: #252526; /*QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #4d4d4d, stop: 0.1 #646464, stop: 1 #5d5d5d);*/
}

QWidget:focus
{
    /*border: 2px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);*/
}

/* edits and numericupdown inside */
QLineEdit, QSpinBox
{
    background-color: #1A1A1A;
    padding: 1px;
    border-style: solid;
    border: 1px solid #424242;
}

QLineEdit:focus, QSpinBox:focus
{
  border: 1px solid #A4D206;
}

/* push buttons */
QPushButton {
	border: 1px solid #A4D206;
	text-align: center;
	min-height: 20px;
	min-width: 50px;
	
	padding: 0 6px 0 6px;
}
QPushButton:pressed
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
}

QComboBox
{
    selection-background-color: #A4D206;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #565656, stop: 0.1 #525252, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);
    border-style: solid;
    border-bottom: 1px solid #1e1e1e;
}

/* Button and combo hover */ 
QComboBox:hover,QPushButton:hover
{
  background-color: #343434;
    border: 2px solid #A4D206;
}


QComboBox:on
{
    padding-top: 3px;
    padding-left: 4px;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
    selection-background-color: #A4D206;
}

QComboBox QAbstractItemView
{
    border: 2px solid darkgray;
    selection-background-color: #A4D206;
}

/* arrow of dropdown combo */
QComboBox::drop-down
{
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;
     border-left-width: 0px;
     border-left-color: darkgray;
     border-left-style: solid; /* just a single line */
 }

QComboBox::down-arrow
{
     image: url(./icons/down_arrow.png);
}

QGroupBox:focus
{
border: 2px solid #A4D206;
}

QTextEdit:focus
{
    border: 2px solid #A4D206;
}

/*QScrollBar::handle:horizontal{background:#aaaaaa}*/

/*bottom scrollbars*/
QScrollBar:horizontal {
     background: #A4D206;
     height: 7px;
     margin: 0px 11px 0 11px;
}

/*scrollbar upper bar*/
QScrollBar::handle:horizontal
{
      background: #A4D206;
      min-height: 10px;
      /*visibility: hidden;*/
}

/*right scrollbar buttons*/
QScrollBar::add-line:horizontal {
      background: #A4D206;
      width: 10px;
      subcontrol-position: right;
      subcontrol-origin: margin;
}

/*left scrollbar buttons*/
QScrollBar::sub-line:horizontal {
      background: #A4D206;
      width: 10px;
     subcontrol-position: left;
     subcontrol-origin: margin;
}

/*scrollbar buttons center point*/
QScrollBar::right-arrow:horizontal, QScrollBar::left-arrow:horizontal
{
      width: 2px;
      height: 2px;
      background: #A4D206; /*white;*/
}

/*horizontal scrollbars background*/
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
      background-color: #1F1E1E;
}

/*upper scrollbars*/
QScrollBar:vertical
{
      background: #A4D206;
      width: 7px;
      margin: 11px 0 11px 0;
}

/*upper scrollbars bar*/
QScrollBar::handle:vertical
{
      background: #A4D206;
      min-height: 20px;
}

/*bottom scrollbar buttons*/
QScrollBar::add-line:vertical
{
      background: #A4D206;
      height: 10px;
      subcontrol-position: bottom;
      subcontrol-origin: margin;
}

/*upper scrollbar buttons*/
QScrollBar::sub-line:vertical
{
      background: #A4D206;
      height: 10px;
      subcontrol-position: top;
      subcontrol-origin: margin;
}

/*scrollbar buttons center point*/
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
      width: 2px;
      height: 2px;
      background: #A4D206;
}

/*vertical scrollbars background*/
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
      background-color: #1F1E1E;
}

QTextEdit
{
    background-color: #242424;
}

QPlainTextEdit
{
    background-color: #242424;
}

QHeaderView::section
{
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #616161, stop: 0.5 #505050, stop: 0.6 #434343, stop:1 #656565);
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

QCheckBox:disabled
{
  color: #727272;
  background-color: #1A1A1A;
}

/* menu toolbar */
QDockWidget::title
{
    text-align: center;
    spacing: 3px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}

QDockWidget::close-button, QDockWidget::float-button
{
    text-align: center;
    spacing: 1px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover
{
    background: #242424;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed
{
    padding: 1px -1px -1px 1px;
}

QMainWindow::separator
{
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #161616, stop: 0.5 #151515, stop: 0.6 #212121, stop:1 #343434);
    color: white;
    padding-left: 4px;
    border: 1px solid #4c4c4c;
    spacing: 3px; /* spacing between items in the tool bar */
}

QMainWindow::separator:hover
{

    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #A4D206, stop:0.5 #8ED105
    stop:1 #A4D206);
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
    spacing: 3px; /* spacing between items in the tool bar */
}

QMenu::separator
{
    height: 1px;
    background-color: #444444;
    color: white;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

QProgressBar
{
    border: 1px solid #424242;
    text-align: center;
}

QProgressBar::chunk
{
    background-color: #A4D206;
    width: 2.15px;
    margin: 0px;
}

/* Selected tab */
QTabBar::tab {
    color: #5C5C52FF;
    /*border: 1px 1px 0px 0px solid #484848;*/
    border-bottom-style: none;
    background-color: #333333;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Border around the whole screen */
QTabWidget::pane {
    /*border: 1px solid #444;
    top: 1px;*/
}

QTabBar::tab:last
{
    margin-right: 0px; /* the last selected tab has nothing to overlap with on the right */
}

QTabBar::tab:first:!selected
{
 margin-left: 0px; /* the last selected tab has nothing to overlap with on the right */
}

QTabBar::tab:!selected
{
    color: #898989;
    border-bottom-style: solid;
    /*margin-top: 3px;*/
    background-color: #333333;
    margin: 0px 0px 0px 0px;
}

QTabBar::tab:selected
{
    margin-bottom: 0px;
    color: black;/*white;*/
    /*border-bottom: 2px solid #A4D206;*/
    background-color: #A4D206;
}

QTabBar::tab:!selected:hover
{
    /*border-top: 2px solid #ffaa00;
    padding-bottom: 3px;*/
    /*color: white;*/
    background-color: #212121;
    padding-bottom: 4px;
    border-bottom: 2px solid #A4D206;
}

QRadioButton::indicator:checked, QRadioButton::indicator:unchecked{
    color: #b1b1b1;
    background-color: #323232;
    border: 1px solid #b1b1b1;
}

QRadioButton::indicator:checked
{
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #A4D206,
        stop: 0.3 #323232
    );
}

QCheckBox::indicator{
    color: #b1b1b1;
    background-color: #323232;
    border: 1px solid #b1b1b1;
    width: 9px;
    height: 9px;
}
QComboBox {
    border: 1px solid gray;
    padding: 1px 18px 1px 3px;
    min-width: 6em;
}

QComboBox:editable {
    background: #343434;
}

QComboBox:!editable, QComboBox::drop-down:editable {
     background: #2d2d30;
}

/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background: #2d2d30;
}

QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
}

QCheckBox {
    spacing: 5px;
}

QCheckBox::indicator {
    width: 13px;
    height: 13px;
    border: 1px solid #A4D206;
}



QCheckBox::indicator:unchecked,
QCheckBox::indicator:unchecked:hover,
QGroupBox::indicator:unchecked,
QGroupBox::indicator:unchecked:hover
{
    image: url(./icons/checkbox_unchecked.png);
}


QCheckBox::indicator:checked,
QCheckBox::indicator:checked:hover,
QGroupBox::indicator:checked,
QGroupBox::indicator:checked:hover
{
    image: url(./icons/checkbox_checked.png);
}


QComboBox::down-arrow:on { /* shift the arrow when popup is open */
    top: 1px;
    left: 1px;
}

QRadioButton::indicator
{
}

QRadioButton::indicator:hover, QCheckBox::indicator:hover
{
    border: 1px solid #A4D206;
}

QCheckBox::indicator:checked
{
    image:url(./icons/checkbox_checked.png);
}

QLabel {
    border: 0px solid White;
}